# Make sure to change these paths to represent your setup
gsc_home=/gscratch/ssmc/USRS/PSI/Ben
#gsc_home=$HOME/wqmodels/ssm/psi

conda_prefix=$gsc_home/miniforge3
#conda_prefix=$HOME/miniforge3

# Where the code tree lives
REPO_HOME=$gsc_home/SalishSeaModel-analysis_2026update

# CASENAME is needed when CASE is a direct file path
CASE=SSM_config_ecy21.yaml
CASENAME=ecy21

source $conda_prefix/etc/profile.d/conda.sh
export MAMBA_ROOT_PREFIX=$conda_prefix
source $conda_prefix/etc/profile.d/mamba.sh

# Activate the appropriate conda environment
conda activate psi_ssm
